R Basics
----------
Introductory Bioinformatics Sharifi Zarchi The practical sessions part 3
-----------

1) Calling the file and its initial review

In [1]:
x = read.delim("C:/Users/abolf/Desktop/jupyter train/intro bioinf sharifi practical/SharifiZarchi-bio/Data/Endoderm.txt")
dim(x)
head(x)

[1] 52 10

  Type HLXb9  HHEX  HNF4a  ISL1  NEUROD1 NKX6.1 PAX4 PTF1a PDX1
1 SC.1   2.27  1.87  2.880  1.69  3.60   1.09   1.29 1.40   1.00
2 SC.2   1.00  1.00  1.000  1.00  1.00   1.00   1.00 1.00   1.00
3 SC.3   1.00  1.00  1.000  1.00  1.00   1.00   1.00 1.00   1.00
4 DE-1 133.70 10.93 82.380 26.94  4.88   3.46   2.18 3.24  21.48
5 DE-2  46.17 36.82 34.466 10.92  6.13   4.42   3.44 3.70  11.62
6 DE-3  51.91 10.93 29.530 26.94 15.85   3.46   2.18 3.17  25.70

2) Converting the first column as row names and removing it from the columns section

In [2]:
rownames(x) = x[,1]
head(x)
x = x[,-1]
head(x)

     Type HLXb9  HHEX  HNF4a  ISL1  NEUROD1 NKX6.1 PAX4 PTF1a PDX1
SC.1 SC.1   2.27  1.87  2.880  1.69  3.60   1.09   1.29 1.40   1.00
SC.2 SC.2   1.00  1.00  1.000  1.00  1.00   1.00   1.00 1.00   1.00
SC.3 SC.3   1.00  1.00  1.000  1.00  1.00   1.00   1.00 1.00   1.00
DE-1 DE-1 133.70 10.93 82.380 26.94  4.88   3.46   2.18 3.24  21.48
DE-2 DE-2  46.17 36.82 34.466 10.92  6.13   4.42   3.44 3.70  11.62
DE-3 DE-3  51.91 10.93 29.530 26.94 15.85   3.46   2.18 3.17  25.70

     HLXb9  HHEX  HNF4a  ISL1  NEUROD1 NKX6.1 PAX4 PTF1a PDX1
SC.1   2.27  1.87  2.880  1.69  3.60   1.09   1.29 1.40   1.00
SC.2   1.00  1.00  1.000  1.00  1.00   1.00   1.00 1.00   1.00
SC.3   1.00  1.00  1.000  1.00  1.00   1.00   1.00 1.00   1.00
DE-1 133.70 10.93 82.380 26.94  4.88   3.46   2.18 3.24  21.48
DE-2  46.17 36.82 34.466 10.92  6.13   4.42   3.44 3.70  11.62
DE-3  51.91 10.93 29.530 26.94 15.85   3.46   2.18 3.17  25.70

3) Use the logarithm function to show the ratio of data changes instead of the data size and see its effect

In [3]:
x = log2(x+1)
head(x)
print("-----------------------------------------------------------------------------------------------------------------------------")

max(x, na.rm = T)

     HLXb9    HHEX     HNF4a    ISL1     NEUROD1  NKX6.1   PAX4     PTF1a
SC.1 1.709291 1.521051 1.956057 1.427606 2.201634 1.063503 1.195348 1.263034
SC.2 1.000000 1.000000 1.000000 1.000000 1.000000 1.000000 1.000000 1.000000
SC.3 1.000000 1.000000 1.000000 1.000000 1.000000 1.000000 1.000000 1.000000
DE-1 7.073606 3.576522 6.381629 4.804260 2.555816 2.157044 1.669027 2.084064
DE-2 5.559798 5.241077 5.148365 3.575312 2.833902 2.438293 2.150560 2.232661
DE-3 5.725469 3.576522 4.932156 4.804260 4.074677 2.157044 1.669027 2.060047
     PDX1
SC.1 1.000000
SC.2 1.000000
SC.3 1.000000
DE-1 4.490570
DE-2 3.657640
DE-3 4.738768

[1] "-----------------------------------------------------------------------------------------------------------------------------"

[1] 9.254415

4) Define variables & doing our first t-test

In [4]:
a = x[1:3, 1]
a
print("-----------------------------------------------------------------------------------------------------------------------------")

b = x[4:6, 1]
b
print("-----------------------------------------------------------------------------------------------------------------------------")

t.test(a, b)

[1] 1.709291 1.000000 1.000000

[1] "-----------------------------------------------------------------------------------------------------------------------------"

[1] 7.073606 5.559798 5.725469

[1] "-----------------------------------------------------------------------------------------------------------------------------"

	Welch Two Sample t-test

data:  a and b
t = -9.1357, df = 2.9186, p-value = 0.003092
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -6.611410 -3.154978
sample estimates:
mean of x mean of y
 1.236430  6.119624

5) another ways of calling data to do the t-test

In [5]:
t.test(x[1:3,5], x[4:6,5])
print("-----------------------------------------------------------------------------------------------------------------------------")

t.test(x[1:3,"PAX4"], x[4:6,"PAX4"])
print("-----------------------------------------------------------------------------------------------------------------------------")

t.test(1:5, 0:4)

	Welch Two Sample t-test

data:  x[1:3, 5] and x[4:6, 5]
t = -2.8517, df = 3.9096, p-value = 0.04758
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -3.47791058 -0.03059679
sample estimates:
mean of x mean of y
 1.400545  3.154798

[1] "-----------------------------------------------------------------------------------------------------------------------------"

	Welch Two Sample t-test

data:  x[1:3, "PAX4"] and x[4:6, "PAX4"]
t = -4.4131, df = 2.6409, p-value = 0.02803
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -1.3605963 -0.1682475
sample estimates:
mean of x mean of y
 1.065116  1.829538

[1] "-----------------------------------------------------------------------------------------------------------------------------"

	Welch Two Sample t-test

data:  1:5 and 0:4
t = 1, df = 8, p-value = 0.3466
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -1.306004  3.306004
sample estimates:
mean of x mean of y
        3         2

6) introducing paired values in t-test

In [6]:
#t.test(1:5, 0:4, paired = T)
#ERROR, WHY?
# paired, but not realistic (constant values)

In [7]:
#t.test(1:5, c(0.1,0:4), paired = T)
# error, why?
# realistic, but not paired in length

NOTE: paired values = same group, two condition | not for repeats(same group, same condition but just repeated)

7) doing our first paired t-test

In [8]:
t.test(1:5, c(0.1,1:4), paired = T)
#Pay attention to the change in p-value

	Paired t-test

data:  1:5 and c(0.1, 1:4)
t = 49, df = 4, p-value = 1.038e-06
alternative hypothesis: true mean difference is not equal to 0
95 percent confidence interval:
 0.9244711 1.0355289
sample estimates:
mean difference
           0.98

8) introducing new values in paired t-test

    alternative = greater :  t test of second values being greater than the first
    
    alternative = less  :  t test of second values being less the than first

In [9]:
t.test(1:5, c(0.1,1:4), paired = T, alternative = "greater")

#what does (greater) mean?
#Pay attention to the change in values
print("-----------------------------------------------------------------------------------------------------------------------------")

t.test(1:5, c(0.1,1:4), paired = T, alternative = "less")

# what happend & what does (less) mean?
#Pay attention to the change in values

	Paired t-test

data:  1:5 and c(0.1, 1:4)
t = 49, df = 4, p-value = 5.19e-07
alternative hypothesis: true mean difference is greater than 0
95 percent confidence interval:
 0.9373631       Inf
sample estimates:
mean difference
           0.98

[1] "-----------------------------------------------------------------------------------------------------------------------------"

	Paired t-test

data:  1:5 and c(0.1, 1:4)
t = 49, df = 4, p-value = 1
alternative hypothesis: true mean difference is less than 0
95 percent confidence interval:
     -Inf 1.022637
sample estimates:
mean difference
           0.98